<div class="nav">
        <div class="navBtns clearfix">
            <a href="/main.html" class="navBtn navBtn-home" target="_blank">
                官网首页
            </a>
            <a href="/news/focus" class="navBtn navBtn-game" target="_blank">
                江湖快讯
            </a>
            <a href="/secret" class="navBtn navBtn-data" target="_blank">
                武林秘籍
            </a>
            <a href="/xiak/reporters" class="navBtn navBtn-data" target="_blank">
                侠客情深
            </a>

            <a href="/download" class="navBtn navBtn-download" target="_blank">
                下载专区
            </a>
            <a href="http://passport.woniu.com/" class="navBtn navBtn-service" target="_blank">
                账号管理
            </a>
            <a href="http://imprest.woniu.com/imprest/imprest_main.html?gameId=10" class="navBtn navBtn-community" target="_blank">
                购卡充值
            </a>
            <a href="http://9yinbbs.woniu.com/index.php" class="navBtn navBtn-community" target="_blank">
                九阴论坛
            </a>
        </div>
</div>